<ion-view hide-back-button='true' align-title='center'>
  <ion-nav-bar class='bar-stable' align-title='center'>
    <ion-nav-title align='center'>
      <i class='ion-navicon-round'></i>&nbsp;Main
    </ion-nav-title>
  </ion-nav-bar>
  <ion-pane>
    <ion-content>
      <div class='card'> 
        <ion-item>
          <ion-list>
            <a href="#/last" class="item item-icon-left">
              <i class="icon ion-star"></i> Last sales</a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-bookmark"></i> Weekly sales</a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-calendar"></i> Monthly sales</a>
          </ion-list>
        </ion-item>
      </div>
    </ion-content>
  </ion-pane>
</ion-view>
