/* Empty. Add your own CSS if you like */

.no-padding { padding: 0 !important; }

.item {
  font-family: 'Roboto', sans-serif !important;
  font-size: 13px;
}
.cname { 
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item-divider {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.col { /* little pading on the left and right */
  padding-left: 0.1em !important;
  padding-right: 0.1em !important;
}
.list.weekly {
  font-family: 'Roboto', sans-serif;
}
.weekly-company {
  padding: 1px .5em 1px .5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.weekly-totals {
 border-style: solid;
 border-width: 0.6px 0 0 0;
 font-weight: bold;
}
.menu {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
}
